version: "3.9"

services:
  mlflow:
    build:
      context: .
      dockerfile: docker/mlflow.Dockerfile
    volumes:
      - mlruns:/mlruns
    ports:
      - "5000:5000"

  train:
    build:
      context: .
      dockerfile: docker/training.Dockerfile
    volumes:
      - mlruns:/mlruns
      - dvcstore:/dvcstore
    depends_on:
      - mlflow
    restart: "no"

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    volumes:
      - mlruns:/mlruns
    ports:
      - "8000:8000"
    depends_on:
      - mlflow

volumes:
  mlruns:
  dvcstore:
